*{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.heading p{
    margin: 3px;
    font-family: 'Courier New', Courier, monospace;
}
.heading img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 2px;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    
}
.home i{
    color: rgba(113, 113, 247, 0.783);
}
.home a i{
    color: blanchedalmond;
}
.home a{
    margin-left: 15rem;
}
.video{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    
}
.video i{
    color: rgba(113, 113, 247, 0.783);
}
.video a i{
    color: blanchedalmond;
}
.video a{
    margin-right: 15rem;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    margin: 5px;
    width: 35px;
    height: 38px;
    border-radius: 50%;
    border: 1px solid rgb(251, 251, 251);
}
.logo  p{
    font-family: 'Courier New', Courier, monospace;
}
.container p{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.topic{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    
}



.wrapper {
    width: 230px;
    position: relative;
  }
  .wrapper i {
    top: 100px;
    height: 15px;
    width: 5px;
    cursor: pointer;
    font-size: 1rem;
    position: absolute;
    text-align: center;
    line-height: 5px;
    background: #080808;
    box-shadow: 0 3px 6px #000000;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
    color: #000000;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.85);
  }
  .wrapper i:first-child{
    left: -20px;
  }
  .wrapper i:last-child{
    right: -10px;
  }
  .wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 14px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel .card {
    scroll-snap-align: start;
    height: 300px;
    width: 230px;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
  }
  .carousel .card .img {
    background: #fff;
    height: 100%;
    width: 100%;
  }
  .card .img img {
    margin-top: 30px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 2px solid #fff;
  }
  .carousel .card h2 {
    font-weight: 50px;
    font-size: 10px;
    margin: 30px 0 5px;
    color: black;
    background-color: #fff;
  }
  .carousel .card span {
    color: black;
    background-color: #fff;
    font-size: 15px;
  }
  
  @media screen and (max-width: 900px) {
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }
  
  @media screen and (max-width: 900px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
  }
